
@model List<Order>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<br />

<div class="container-fluid">
    <table id="tbl1" class="table table-bordered" style="margin-top:20px">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Distributor</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Order Time</th>
                <th>Delete </th>
                <th>Update</th>
            </tr>
        </thead>
        @foreach (var ord in Model)
        {
            <tr>


                <td>@ord.OrderID</td>
                <td>@ord.Distributor.Dname</td>
                <td>@ord.Product.ProductName (@ord.Product.Brand.BrandName) </td>
                <td>@ord.Quantity</td>
                <td>@ord.OrderTime</td>
                <td><a href="/Order/Delete/@ord.OrderID" class="btn btn-danger" style="width:100%">Delete</a></td>
                <td><a href="/Order/Get/@ord.OrderID" class="btn btn-success" style="width:100%">Update</a></td>
              
            </tr>

        }
    </table>
</div>

<a href="/Order/Add" class="btn btn-info">Add</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $('#tbl1').dataTable();
</script>
